<div class="footer">
    <h2><u>Contact Us</u><br>
        <p id="sub-foot">
            1234 Fake St<br>
            (123) 456 7890<br>
            fakeEmail@fake.com
        </p>
    </h2>
    <h2><u>Cafe Hours</u><br>
        <p id="sub-foot">
            Monday & Tuesday: Closed<br>
            Wednesday: 10AM - 4PM<br>
            Thursday : Closed <br>
            Friday: 9AM - 4PM <br>
            Saturday: 7AM - 4PM<br>
            Sunday: 9AM - 4PM
        </p>
    </h2>
    <h2><u>Follow Us<br></u>
    <input type="image" src="../img/drawnInst.png" class="socials" alt="Instagram" name="Instagram">
    <input type="image" src="../img/drawnFace.png" class="socials" alt="Facebook" name="Facebook" >                 
    </h2>
</div>