<div class="header">
    <img id ="logo" src="../img/WakenBakeLogo.png" alt="WakenBakeLogo">
    <div class="subbox">
        <button type="button" id="home" onClick="window.location.href='../pages/index.html'"><span>Home</button>
        <button type="button" id="reserve" onClick="window.location.href='../pages/reserve.html'"><span>Reserve</span></button>
        <button type="button" id="menu" onClick="window.location.href='../pages/menu.html'"><span>Menu</span></button>
        <button type="button" id="info" onClick="window.location.href='../pages/info.html'"><span>Info</span></button>
        <button type="button" id="jobs" onClick="window.location.href='../pages/jobs.html'"><span>Jobs</span></button>
    </div>
</div>