body{
    background-color:black;
    margin: 0;
}

.container{
    font-family:'Impact';
    color:white;
    display:grid;
    width:100vw;
    height: 100vh;
    margin:auto;
    grid-template-rows: 15% 75% 10%;
    grid-gap:0px;
    grid-template-areas:
    "mm"
    "ct"
    "ft"
}

.header{
    grid-area:mm;
    display:grid;
    grid-template-columns: auto 1fr;
    color:black;
    background-color:white;

}

.subbox{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-evenly;
    padding: 0;
    border: none;
    background: none;
    outline:none;
}

.subbox > button{
    transition-duration:0.4s;
    cursor:pointer;
    width: 10%;
    height:20%;
    background-color: transparent;
}

.subbox > button:hover{
    background-color:black;
    color:white;
}

.content{
    grid-area:ct;
    display:flex;
    justify-content: center;
}

.footer{
    grid-area:ft;
}

#logo {
    height:140px;
    width:200px;
    max-height:100%;
    max-width:100%;
}

#home{
    order: 1;
}

#cater{
    order: 3;
}

#menu{
    order: 2;
}

#contact{
    order: 4;
}

#jobs{
    order: 5;
}